.test{
    border-radius: 35%;
    background-color: #303736;
    color: #62b0a5;
    text-align: center;
    font: 1.2rem Inconsolata, monospace;
    clear: both;
    position: relative;
    margin-top: 0px; /* negative value of footer height */
    clear:both;
}

.footerWrap {
    width:100%;
    position:fixed;
    bottom: 0px;
}
.footer {
    width:400px;
    margin:auto;
}
.footerContent {
    float:left;
    width:100%;
    padding:20px 0;
    margin-left: 10px;
}
.footer p {float:left; width:100%; text-align:center; }

.footerWrap>.footer>.footerContent>.links{
    opacity: 50%;
    filter: grayscale(50%);
}


.footerWrap>.footer>.footerContent>.links:hover,
.footerWrap>.footer>.footerContent>.links:focus
{
    opacity: 100%;
    filter: grayscale(0%);
}

.nav>li>a:hover,
.nav>li>a:focus {
   background-color: #62b0a5!important;
   color:white!important
}

.nav-link{
    color: #62b0a5!important;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  }

@media only screen and (max-width: 700px) {
    .links, .footer, .footerContent, .footerWrap {
        transform: scale(0.8, 0.8);
        -ms-transform: scale(0.8, 0.8);
        -webkit-transform: scale(0.8, 0.8);
        margin-left: auto;
        width: auto;
        padding:none;
        
    }
  }

  @media only screen and (max-width: 700px) {
    .test{
        font: 1rem Inconsolata, monospace;
        clear: both;


    }

  } 